
.body-margin{
    margin-top: 30px;
    padding: 30px;
}



.navber{
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
}
.name-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.name{
    margin-right: 30px;
    
    
}
.section{ 
    margin-top: 30px;
}
.banner{
    height: 300px;
    width: auto


}
.banner-containt{
    display: flex;
    margin-top: 50px;
    gap: 50px;
}
.img-container{
    width: 300px;
    height: 300px;
}
.btn{
    font-size:12px ;
    width: 100px;
    height: 35px;
    background-color:teal;
    color: white;
    border-radius: 6px;
    
    
}
/* shakhaout */
.banner2{
    margin-top: 200px;
}
.text-container{
    color:darksalmon
}
.banner2-container{
    display: flex;
    align-items: center;
    gap: 50px;
}
.btn2{
     font-size:12px ;
    width: 100px;
    height: 35px;
    background-color:teal;
    color: white;
    border-radius: 6px;
    
}
.img-cariar{
    margin-top: 50px;
    background-color:antiquewhite; 
    display: flex;
    gap: 120px;
}
.img-container2{
    display: flex;
    gap: 50px;
}